body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.sponsor-row {
  margin-bottom: 40px;
}

div.sponsor {
  height: 180px;
}

img.sponsor-image {
  max-width: 100%;
  max-height: 100%;
}

.table .thead-dark th {
  background-color: #343a40 !important;
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 56px;
}

footer {
  position: absolute;
  bottom: 0;
}

.footer {
  height: 56px;
  width: 100%;
  background-color: #343a40;
}

.speedhive-btn {
  margin-left: 4px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.s-margin-bottom-4 {
  margin-bottom: 4px;
}

@media only screen and (min-width: 1200px) {
  .s-margin-bottom-4 {
    margin-bottom: 0px;
  }
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-25 {
  margin-top: 25px;
}

td.vertical-align {
  vertical-align: middle;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

#logo {
  margin-bottom: 20px;
}

#latestPoster {
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#home-body {
  margin-bottom: 20px;
}

.button-column {
  margin-top: 5px;
}

#latest-events {
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  #latestPoster {
    width: 700px;
  }
}

@media only screen and (min-width: 768px) {
  .button-column {
    margin-top: 15px;
  }

  #latest-events {
    margin-top: 20px;
  }
}

.table td {
  vertical-align: middle;
}
